# {{ ansible_managed }}

# Docker Upstart and SysVinit configuration file

#
# THIS FILE DOES NOT APPLY TO SYSTEMD
#
#   Please see the documentation for "systemd drop-ins":
#   https://docs.docker.com/engine/articles/systemd/
#

# Customize location of Docker binary (especially for development testing).
{% if docker_etc_default_binary is defined %}
DOCKERD="{{ docker_etc_default_binary }}"
{% else %}
#DOCKERD="/usr/local/bin/dockerd"
{% endif %}

# Use DOCKER_OPTS to modify the daemon startup options.
{% if docker_etc_default_opts is defined %}
DOCKER_OPTS="{{ docker_etc_default_opts | join(' ') }}"
{% else %}
#DOCKER_OPTS="--dns 8.8.8.8 --dns 8.8.4.4"
{% endif %}

# If you need Docker to use an HTTP proxy, it can also be specified here.
{% if docker_etc_default_http_proxy is defined %}
export http_proxy="{{ docker_etc_default_http_proxy }}"
{% else %}
#export http_proxy="http://127.0.0.1:3128/"
{% endif %}

# This is also a handy place to tweak where Docker's temporary files go.
{% if docker_etc_default_tmpdir is defined %}
export DOCKER_TMPDIR="{{ docker_etc_default_tmpdir }}"
{% else %}
#export DOCKER_TMPDIR="/mnt/bigdrive/docker-tmp"
{% endif %}
